// Import page-specific CSS files here.
@import "home";

h1, h2, h3, h4, h5, h6, p, a, ul, li, .btn {
  font-family: 'Alexandria', sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}

strong {
  font-weight: 600;
}

.index-title {
  text-align: center;
  font-size: 42px;
}

#logo {
  width: 175px;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
}

.banner {
  background-size: cover;
  background-position: 0% 20%;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 600;
  font-size: 54px;
}

.banner h2 {
  font-size: 26px;
  color: #fff;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.friend-service {
  box-shadow: 0px 5px 10px rgba(50,50,50,.25);
  margin: 15px 0px;
  border-radius: 3px;
  position: relative;
}

.friend-service-detail-image {
  width: 100%;
  height: 495px;
  object-fit: cover;
}

.friend-service-overview-image {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.friend-service-overview-user-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.friend-service-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
}

.friend-service-content {
  padding: 20px;
}

.friend-service-title-image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-the-friend {
  display: flex;
  gap: 15px;
}

/*NAVBAR*/
.container-nav {
  max-width: 1200px;
  padding: 10px 0px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer-bg {
  background: #222222;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: #fff;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #fff;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
}

.navbar-link {
  opacity: .8;
  display: block;
  color: #000;
  text-decoration: none;
  transition: 150ms ease-in-out;

  &:hover {
    opacity: 1;
    color: #000;
  }

  &:active {
    opacity: 1;
    color: #000;
  }
}

#navbarSupportedContent > ul > li > div {
  padding: 15px;
  width: 185px;
  line-height: 1.75em;
}

/*LOCATION POPUP*/
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-popup-title {
  font-weight: 500 !important;
  color: #000 !important;
  text-decoration: inherit;
}

.map-popup-description {
  color: #000 !important;
  text-decoration: inherit;
}

.map-popup-img {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  object-fit: cover;
}

/*BOOKING*/
.booking-image {
  width: 100%;
  object-fit: cover;
  height: 420px;
}

/*AVATAR IMG*/
.avatar-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}


.booking-avatar-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-toggle::after {
  vertical-align: -3px;
  cursor: pointer;
}

.avatar-container {
  position: relative;

  p {
    width: 75px;
    opacity: 0;
    position: absolute;
    bottom: -25px;
    text-align: center;
}

  &:hover {

    p {
      opacity: 1;
    }
  }
}


.user-avatars {
  display: flex;
  gap: 10px;
}


/*SEARCH FIELD*/

.search-field {
  width: 500px;
  margin: 20px auto 0px auto;
}


/*LOCATION SEARCH FIELD*/
.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: #fff;
}



/*PRICE ON IMG*/
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.price-on-img {
  background: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 15px;
  border: 1px solid #b8b8b8;
  box-shadow: 0px 10px 20px rgba(50,50,50,.65);
}
