// Import page-specific CSS files here.
@import "home";

h1, h2, h3, h4, h5, h6, p, a, ul, li, .btn {
  font-family: 'Alexandria', sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: 100px auto;

}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 600;
}

.banner p {
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.friend-service {
  box-shadow: 0px 5px 10px rgba(50,50,50,.25);
  margin: 15px 0px;
}


.friend-service-detail-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-bottom: 35px;
}

.friend-service-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
}

.friend-service-content {
  padding: 20px;
}
